ANSH PRATAP SINGH

PRN: 25070123143

AIM:- Study of list in python

In [1]:
list1 = ["apple", "banana", "orange"]
print(list1)

['apple', 'banana', 'orange']

In [2]:
list2 = [6,7,6.7, "SixSeven", True]
print(list2)

[6, 7, 6.7, 'SixSeven', True]

In [3]:
list3 = ["apple", "orange", "apple", "cherry"]
print(list3)

['apple', 'orange', 'apple', 'cherry']

In [9]:
list4 = ["apple", "banana", "orange", "cherry", "mango", "kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [11]:
list5 = ["Advance", "Red", "Forrest", "Shift"]
list5[3] = 2
print(list5)

['Advance', 'Red', 'Forrest', 2]

In [16]:
list6 = ["Advance", "Red", "Forrest", "Shift"]
list6.append("Dunhill")
print(list6)

['Advance', 'Red', 'Forrest', 'Shift', 'Dunhill']

In [17]:
list7 = ["Advance", "Red", "Forrest", "Shift"]
list7.insert(4, "Dunhill")
print(list7)

['Advance', 'Red', 'Forrest', 'Shift', 'Dunhill']

In [19]:
list8 = ["Advance", "Red", "Forrest", "Shift"]
list9 = ["BlueberryIce", "IcyWatermelon", "StrawberryMangoIceCream"]
list8.extend(list9)
print(list8)

['Advance', 'Red', 'Forrest', 'Shift', 'BlueberryIce', 'IcyWatermelon', 'StrawberryMangoIceCream']

QUESTION);-  MARKS = [90,82,66,76,33]

FIND USING list

1): MAXIMUM MARKS

2): MINIMUM MARKS

3): TOTAL NO OF STUDENT

4): SUM OF MARKS

5): AVERAGE MARKS OF ALL THE STUDENTS

6): SORT IN ASCENDING ORDER

In [30]:
MARKS = [90, 82, 66, 76, 33]

# MAXIMUM MARKS
max_marks = max(MARKS)
print(f"Maximum marks: {max_marks}")

# MINIMUM MARKS
min_marks = min(MARKS)
print(f"Minimum marks: {min_marks}")

# TOTAL NO OF STUDENT
total_students = len(MARKS)
print(f"Total number of students: {total_students}")

# SUM OF MARKS
sum_of_marks = sum(MARKS)
print(f"Sum of marks: {sum_of_marks}")

# AVERAGE MARKS OF ALL THE STUDENTS
average_marks = sum(MARKS) / len(MARKS)
print(f"Average marks: {average_marks:.2f}")

# SORT IN ASCENDING ORDER
sorted_marks = sorted(MARKS)
print(f"Marks sorted in ascending order: {sorted_marks}")

Maximum marks: 90
Minimum marks: 33
Total number of students: 5
Sum of marks: 347
Average marks: 69.40
Marks sorted in ascending order: [33, 66, 76, 82, 90]

# Task
Manage a grocery list in Python by initializing a list, adding new items, removing purchased items, and displaying the final list.

In [31]:
grocery_list = ['milk', 'eggs', 'bread']
print(grocery_list)

['milk', 'eggs', 'bread']

In [32]:
grocery_list.append('chicken')
grocery_list.append('vegetables')
print(grocery_list)

['milk', 'eggs', 'bread', 'chicken', 'vegetables']

In [33]:
grocery_list.remove('milk')
grocery_list.remove('eggs')
print(grocery_list)

['bread', 'chicken', 'vegetables']

In [34]:
print(grocery_list)

['bread', 'chicken', 'vegetables']